<app-title-page></app-title-page>
<div class="default-card">

  <nz-page-header>


    <!--title-->
    <nz-page-header-title>
      <nz-avatar nz-page-header-avatar [nzSrc]="post?.userAvatar"> </nz-avatar>
      <a [routerLink]="['/users', post?.userId, 'detail']">{{ post?.userFullName }}</a>
    </nz-page-header-title>

    <!--subtitle-->
    <nz-page-header-subtitle>{{ post?.createAt | vdatetime}}</nz-page-header-subtitle>

    <!--tags-->
    <nz-page-header-tags>
      <nz-tag [nzColor]="colorStatus[post?.status]">{{ nameStatus[post?.status] }}</nz-tag>
    </nz-page-header-tags>

    <!--content-->
    <nz-page-header-content>
      <div class="wrap">
        <div class="content">
          <div class="content">

            <nz-divider style="min-width: 50%; width: 50%;" nzDashed nzText="Mô tả" nzOrientation="left" class="mr-2">
            </nz-divider>
            <p class="ml-2 mb-4" nz-paragraph>{{ post?.textDescription }}</p>

            <nz-divider style="min-width: 50%; width: 50%;" nzDashed nzText="Địa chỉ" nzOrientation="left" class="mr-2">
            </nz-divider>
            <p class="ml-2 mb-4" nz-paragraph>{{ post?.address }}</p>
          </div>


          <div nz-row class="mt-2">

            <div nz-col nzMd="12" nzSm="24">
              <nz-divider style="min-width: calc(100% - 30px); width: calc(100% - 30px);" nzDashed nzText="Hình ảnh"
                nzOrientation="left"></nz-divider>
              <div class="px-2">
                <img class="mt-2" style="width: 100%;" *ngFor="let img of post?.imagesDescription"
                  src="{{ HOST }}/requests/description-images/{{ img }}" alt="content" />
              </div>
            </div>

            <div nz-col nzMd="12" nzSm="24">
              <nz-divider nzDashed nzText="Bình luận" nzOrientation="left" class="ml-2"></nz-divider>
              <div class="ml-2">
                <nz-list [nzItemLayout]="'vertical'">
                  <nz-list-item *ngFor="let comment of comments" class="p-0" [nzExtra]="extra">
                    <ng-template #extra><span style="line-height: 60px;">#{{ comment.id }}</span></ng-template>
                    <nz-comment
                      *ngIf="(comment.status === 'QUOTE' || comment.status === 'COMPLETE' || comment.status === 'RECEIVE')"
                      [nzAuthor]="nzAuthor" nzDatetime="{{ comment.createAt | vdatetime }}">
                      <ng-template #nzAuthor>
                        <a [routerLink]="['/users', comment.uid, 'detail']">{{ comment.fullName }}</a>
                      </ng-template>

                      <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="comment.avatar">
                      </nz-avatar>
                      <nz-comment-content>
                        <p *ngIf="comment.status === 'QUOTE'">Báo giá <b>{{ comment.point }} VND</b></p>
                        <p *ngIf="comment.status === 'COMPLETE'">Xác nhận hoàn thành công việc</p>
                        <p *ngIf="comment.status === 'RECEIVE'">Xem yêu cầu</p>
                      </nz-comment-content>

                      <nz-comment-action>
                        <span *ngIf="!comment.hide" (click)="hideComment(comment.id)">Ẩn bình luận</span>
                        <span *ngIf="comment.hide" (click)="unhideComment(comment.id)">Hiện bình luận</span>
                      </nz-comment-action>
                    </nz-comment>

                    <nz-comment
                      *ngIf="!(comment.status === 'QUOTE' || comment.status === 'COMPLETE' || comment.status === 'RECEIVE')"
                      [nzAuthor]="post.userFullName" nzDatetime="{{ comment.createAt | vdatetime }}">
                      <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="post.userAvatar">
                      </nz-avatar>
                      <nz-comment-content>
                        <p *ngIf="comment.status === 'FEEDBACK'">
                          <nz-rate [ngModel]="post?.rate" nzAllowHalf nzDisabled></nz-rate><br />
                          {{ post?.comment }}
                        </p>
                        <p *ngIf="comment.status === 'CLOSE'">Đóng yêu cầu</p>
                        <p *ngIf="comment.status === 'ACCEPT'">Chấp nhận giá <b>{{ comment.point }} VND</b> của thợ <a
                            href="">{{ comment.fullName }}</a></p>
                      </nz-comment-content>

                      <nz-comment-action>
                        <span *ngIf="!comment.hide" (click)="hideComment(comment.id)">Ẩn bình luận</span>
                        <span *ngIf="comment.hide" (click)="unhideComment(comment.id)">Hiện bình luận</span>
                      </nz-comment-action>
                    </nz-comment>
                  </nz-list-item>
                </nz-list>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nz-page-header-content>
  </nz-page-header>
</div>